.navbar {
  padding: 10px, 0px, 0px, 30px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  top: 0;
  position: top;
  width: 100%;
}

.navBtn {
  width: 150px;
  font-family: sans-serif;
}

.navBtn:hover {
  cursor: pointer;
}
